* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #63738A;
    padding-left: 25%;
    padding-right: 25%;
}

.container {
    padding: auto;
    margin: auto;
    
}

form {
    background: white;
    justify-content: center;
    border: 1px solid red;

}

#First-Name {
    width: ;
    margin:20px 20px;
    height: 30px;
}

#Last-Name {
    width: ;
    margin:20px 20px 0 0;
    height: 30px;
}

#Email-Address {
    justify-content: center;
    width: 24vw;
    height: 30px;
    margin-top: 0;
    margin: 20px 20px;

}